body {
  background: linear-gradient(to right, #1877f2, #00a2ff);
}
form {
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  padding: 30px;
}
input, button {
  border-radius: 5px;
}
button {
  background: #1877f2;
  color: #fff;
  font-weight: bold;
}